diffusers==0.26.3 # I've fixed diffusers version because the library is in constant development and package struct may be changed
transparent_background # This pachage doesn't have version
pillow >= 8.2.0
transformers==4.36.2